In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import re

In [101]:
df = pd.read_csv("For Python_Summer'19 Shows by Network - Network.csv")
df_origin = pd.read_csv("For Python_Country of Origin_Shows Summer '19 - Leads.csv")

In [102]:
df.head()

,Network,Title,Genre,Shows/Films with Latino Lead and/or co-lead Actors/Actresses 0=no 1=yes,Names of Latino Lead Actors/Actresses,"Latino ""Showrunner/Lead Writer""? no= 0 yes=1",Names of Latino lead writers/show runners,Latino Directors? 0= no or 1,Names of Latino Directors,Unnamed: 9
0,A&E,**Hero Ink,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
1,A&E,Ghost Hunters Season 12 (Revival),Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
2,A&E,Psychic Kids Season 4,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
3,A&E,60 Days In,Alternative,0.00,NaN,0.00,NaN,NaN,NaN,NaN
4,A&E,Addiction Unplugged,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN

In [103]:
try:
    df = df.drop(df.columns[9], axis = 1)
except:
    print "drop error"

In [104]:
df.columns = ['network', 'title', 'genre', 'topliners', 'name_topliners', 'showrunners', 'name_showrunners', 'directors', 'name_directors']

In [6]:
df['genre'] = df['genre'].astype(str)

In [7]:
df['topliners'].value_counts()

0.00           316
1.00            37
0               17
0%              13
1                2
1/8= 12.5%       1
2/4= 50%         1
2/5= 40%         1
2/15= 13.3%      1
1/7= 14.3 %      1
Name: topliners, dtype: int64

In [8]:
df.loc[df[df['topliners'] == '0%'].index,'topliners'] = 0
df.loc[df[df['topliners'] == '1/8= 12.5%'].index,'topliners'] = 1
df.loc[df[df['topliners'] == '2/4= 50%'].index,'topliners'] = 2
df.loc[df[df['topliners'] == '2/5= 40%'].index,'topliners'] = 2
df.loc[df[df['topliners'] == '2/15= 13.3%'].index,'topliners'] = 2
df.loc[df[df['topliners'] == '1/7= 14.3 %'].index,'topliners'] = 1

In [9]:
df['topliners'] = pd.to_numeric(df['topliners'])

In [10]:
df['showrunners'].value_counts()

0.00    353
0%       24
0         6
1.00      6
Name: showrunners, dtype: int64

In [11]:
df.loc[df[df['showrunners'] == '0%'].index,'showrunners'] = 0

In [12]:
df['showrunners'] = pd.to_numeric(df['showrunners'])

In [13]:
df['directors'].value_counts()

0.00           218
1.00            20
0%              17
0                4
1/7= 14.3%       2
2/4= 50%         1
2/5= 40%         1
1/7= 14.3 %      1
Name: directors, dtype: int64

In [14]:
df.loc[df[df['directors'] == '0%'].index,'directors'] = 0
df.loc[df[df['directors'] == '1/7= 14.3%'].index,'directors'] = 1
df.loc[df[df['directors'] == '2/4= 50%'].index,'directors'] = 2
df.loc[df[df['directors'] == '2/5= 40%'].index,'directors'] = 2
df.loc[df[df['directors'] == '1/7= 14.3 %'].index,'directors'] = 1

In [15]:
df['directors'] = pd.to_numeric(df['directors'])

In [16]:
df.loc[df[df['genre'] == 'Docu-series'].index,'genre'] = 'Docuseries'
df.loc[df[df['genre'] == 'Docu-series\n'].index,'genre'] = 'Docuseries'

In [18]:
df['genre']= df['genre'].apply(lambda x: x.strip())

## Question: Across all OTT and Primetime Broadcast, Cable, and Premium channel shows

In [64]:
df_shows = pd.DataFrame(columns = ['Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_shows = df_shows.append({'Percent of Latino Topliners': str(round(np.mean(df['topliners']*100),2)) + '%', \
                            'Percent of Latino Showrunners': str(round(np.mean(df['showrunners']*100),2)) + '%', \
                            'Percent of Latino Directors': str(round(np.mean(df['directors']*100),2)) + '%'}, ignore_index=True)       
df_shows

,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,12.05%,1.54%,10.23%

## Question: How does Latino representation measure up by genre within shows?

In [43]:
def Genre_representation(g):
    df_temp = df[df['genre'] == g]
    return np.mean(df_temp['topliners']), np.mean(df_temp['showrunners']), np.mean(df_temp['directors'])

In [55]:
genres = ['Comedy', 'Drama', 'Docuseries', 'Alternative', 'Kids']
df_genre_repre = pd.DataFrame(columns = ['Genres', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_genre_repre

Empty DataFrame
Columns: [Genres, Percent of Latino Topliners, Percent of Latino Showrunners, Percent of Latino Directors]
Index: []

In [56]:
str(round(Genre_representation(g)[0]*100,2))

'14.29'

In [57]:
for g in genres:
    print Genre_representation(g)
    df_genre_repre = df_genre_repre.append({'Genres': g, \
                            'Percent of Latino Topliners': str(round(Genre_representation(g)[0]*100,2)) + '%', \
                            'Percent of Latino Showrunners': str(round(Genre_representation(g)[1]*100,2)) + '%', \
                            'Percent of Latino Directors': str(round(Genre_representation(g)[2]*100,2)) + '%'
                                           }, ignore_index=True)

(0.2571428571428571, 0.02857142857142857, 0.08571428571428572)
(0.1875, 0.031578947368421054, 0.18181818181818182)
(0.023809523809523808, 0.023809523809523808, 0.0)
(0.046242774566473986, 0.0, 0.0)
(0.14285714285714285, 0.047619047619047616, 0.09523809523809523)

In [58]:
df_genre_repre

,Genres,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,Comedy,25.71%,2.86%,8.57%
1,Drama,18.75%,3.16%,18.18%
2,Docuseries,2.38%,2.38%,0.0%
3,Alternative,4.62%,0.0%,0.0%
4,Kids,14.29%,4.76%,9.52%

## Question: How does Latino representation measure up by Network Type?

In [74]:
df['network'] = df['network'].astype(str)
df['network'] = df['network'].apply(lambda x: x.lower())
df['network'] = df['network'].apply(lambda x: x.strip())

nan                        69
netflix                    58
investigation discovery    25
hgtv                       18
travel channel             17
food network               17
cw                         15
abc                        15
hbo                        11
tlc                        11
vh1                        10
amazon                     10
discovery channel          10
history                     9
cbs                         8
fox                         8
discovery                   8
usa                         8
hulu                        8
nbc                         7
amc                         7
comedy central              7
paramount                   7
own                         7
lifetime                    7
showtime                    7
bravo                       7
a&e                         6
mtv                         6
disney                      6
fx                          5
national geographic         5
e!                          5
starz                       5
nickelodeon                 4
freeform                    4
hallmark                    3
nat geo                     1
Name: network, dtype: int64

In [90]:
broad = ['nbc', 'cbs', 'abc', 'cw']
ott = ['amazon', 'hulu', 'netflix']
premium = ['hbo', 'cinemax', 'showtime', 'starz']

In [91]:
df_broad = df[df['network'].isin(broad)]
df_ott = df[df['network'].isin(ott)]
df_premium = df[df['network'].isin(premium)]
df_cable = df[(~df['network'].isin(ott))&(~df['network'].isin(broad))&(~df['network'].isin(premium))]

In [93]:
df_network = pd.DataFrame(columns = ['General Network', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_network = df_network.append({'General Network': 'BraodCast', \
                     'Percent of Latino Topliners': str(round(np.mean(df_broad['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_broad['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_broad['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'General Network': 'Premium', \
                     'Percent of Latino Topliners': str(round(np.mean(df_premium['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_premium['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_premium['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'General Network': 'OTT', \
                     'Percent of Latino Topliners': str(round(np.mean(df_ott['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_ott['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_ott['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'General Network': 'Cable', \
                     'Percent of Latino Topliners': str(round(np.mean(df_cable['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_cable['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_cable['directors']*100),2)) + '%',
                                           }, ignore_index=True)

In [94]:
df_network

,General Network,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,BraodCast,11.11%,0.0%,4.44%
1,Premium,17.39%,8.7%,17.39%
2,OTT,15.79%,1.32%,9.46%
3,Cable,10.57%,1.22%,11.48%

In [107]:
'Augusto Aguilera'.isin(df['name_topliners'])

AttributeError: 'str' object has no attribute 'isin'

## Question: US born or International born

### shows

In [97]:
df_origin.head()

               Name            Production Country of Origin
0  Augusto Aguilera  Too Old to Die Young       Puerto Rico
1   Kevin Alejandro               Lucifer     United States
2      Fred Armisen          Los Espookys     United States
3   Melissa Barrera                  Vida            Mexico
4   Shakira Barrera           It's Bruno!     United States