In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import re

In [2]:
df = pd.read_csv("For Python_Summer'19 Shows by Network - Network.csv")
df_lead = pd.read_csv("For Python_Country of Origin_Shows Summer '19 - Leads.csv")
df_director = pd.read_csv("For Python_Country of Origin_Shows Summer '19 - Directors.csv")
df_runner = pd.read_csv("For Python_Country of Origin_Shows Summer '19 - Showrunners.csv")

In [3]:
df.head()

,Network,Title,Genre,Shows/Films with Latino Lead and/or co-lead Actors/Actresses 0=no 1=yes,Names of Latino Lead Actors/Actresses,"Latino ""Showrunner/Lead Writer""? no= 0 yes=1",Names of Latino lead writers/show runners,Latino Directors? 0= no or 1,Names of Latino Directors,Unnamed: 9
0,A&E,**Hero Ink,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
1,A&E,Ghost Hunters Season 12 (Revival),Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
2,A&E,Psychic Kids Season 4,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN
3,A&E,60 Days In,Alternative,0.00,NaN,0.00,NaN,NaN,NaN,NaN
4,A&E,Addiction Unplugged,Alternative,0.00,NaN,0.00,NaN,0.00,NaN,NaN

In [4]:
try:
    df = df.drop(df.columns[9], axis = 1)
except:
    print "drop error"

In [5]:
df.columns = ['network', 'title', 'genre', 'topliners', 'name_topliners', 'showrunners', 'name_showrunners', 'directors', 'name_directors']

In [6]:
df = df[pd.notnull(df['title'])]

In [7]:
df['genre'] = df['genre'].astype(str)

In [8]:
df['topliners'].value_counts()

0.00    316
1.00     37
0        17
1         2
Name: topliners, dtype: int64

In [9]:
df['topliners'] = pd.to_numeric(df['topliners'])
df['topliners'].value_counts()

0.0    333
1.0     39
Name: topliners, dtype: int64

In [10]:
df['showrunners'].value_counts()

0.00    353
0         6
1.00      6
Name: showrunners, dtype: int64

In [11]:
df['showrunners'] = pd.to_numeric(df['showrunners'])
df['showrunners'].value_counts()

0.0    359
1.0      6
Name: showrunners, dtype: int64

In [12]:
df['directors'].value_counts()

0.00    218
1.00     19
0         4
Name: directors, dtype: int64

In [13]:
df['directors'] = pd.to_numeric(df['directors'])
df['directors'].value_counts()

0.0    222
1.0     19
Name: directors, dtype: int64

In [14]:
df.loc[df[df['genre'] == 'Docu-series'].index,'genre'] = 'Docuseries'
df.loc[df[df['genre'] == 'Docu-series\n'].index,'genre'] = 'Docuseries'

In [15]:
df['genre']= df['genre'].apply(lambda x: x.strip())
df['genre'] = df['genre'].apply(lambda x: x.lower())

In [39]:
df_shows = pd.DataFrame(columns = ['Types','Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_shows = df_shows.append({'Types': 'Overall',
                            'Percent of Latino Topliners': str(round(np.mean(df['topliners']*100),2)) + '%', \
                            'Percent of Latino Showrunners': str(round(np.mean(df['showrunners']*100),2)) + '%', \
                            'Percent of Latino Directors': str(round(np.mean(df['directors']*100),2)) + '%'}, ignore_index=True)       
df_shows

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,Overall,10.48%,1.64%,7.88%

In [17]:
df['genre'].value_counts()

alternative       174
drama              98
docuseries         42
comedy             35
kids               21
reality series      1
reality             1
talk-show           1
Name: genre, dtype: int64

## Question: How does Latino representation measure up by genre within shows?

In [18]:
def Genre_representation(g):
    df_temp = df[df['genre'] == g]
    return np.mean(df_temp['topliners']), np.mean(df_temp['showrunners']), np.mean(df_temp['directors'])

In [45]:
genres = ['comedy', 'drama', 'docuseries', 'alternative', 'kids']
df_genre_repre = pd.DataFrame(columns = ['Types', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])

In [46]:
for g in genres:
    print Genre_representation(g)
    df_genre_repre = df_genre_repre.append({'Types': g, \
                            'Percent of Latino Topliners': str(round(Genre_representation(g)[0]*100,2)) + '%', \
                            'Percent of Latino Showrunners': str(round(Genre_representation(g)[1]*100,2)) + '%', \
                            'Percent of Latino Directors': str(round(Genre_representation(g)[2]*100,2)) + '%'
                                           }, ignore_index=True)

(0.2571428571428571, 0.02857142857142857, 0.08571428571428572)
(0.1836734693877551, 0.030927835051546393, 0.17721518987341772)
(0.023809523809523808, 0.023809523809523808, 0.0)
(0.046242774566473986, 0.0, 0.0)
(0.14285714285714285, 0.047619047619047616, 0.09523809523809523)

In [47]:
g = 'drama'
df_temp = df[df['genre'] == g]
df_temp['directors'].value_counts()

0.0    65
1.0    14
Name: directors, dtype: int64

In [48]:
df_genre_repre

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,comedy,25.71%,2.86%,8.57%
1,drama,18.37%,3.09%,17.72%
2,docuseries,2.38%,2.38%,0.0%
3,alternative,4.62%,0.0%,0.0%
4,kids,14.29%,4.76%,9.52%

## Question: How does Latino representation measure up by Network Type?

In [23]:
df['network'] = df['network'].astype(str)
df['network'] = df['network'].apply(lambda x: x.lower())
df['network'] = df['network'].apply(lambda x: x.strip())

In [24]:
broad = ['nbc', 'cbs', 'abc', 'cw', 'fox']
ott = ['amazon', 'hulu', 'netflix']
premium = ['hbo', 'cinemax', 'showtime', 'starz']

In [25]:
df_broad = df[df['network'].isin(broad)]
df_ott = df[df['network'].isin(ott)]
df_premium = df[df['network'].isin(premium)]
df_cable = df[(~df['network'].isin(ott))&(~df['network'].isin(broad))&(~df['network'].isin(premium))]

In [49]:
df_network = pd.DataFrame(columns = ['Types', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_network = df_network.append({'Types': 'BraodCast', \
                     'Percent of Latino Topliners': str(round(np.mean(df_broad['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_broad['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_broad['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'Premium', \
                     'Percent of Latino Topliners': str(round(np.mean(df_premium['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_premium['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_premium['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'OTT', \
                     'Percent of Latino Topliners': str(round(np.mean(df_ott['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_ott['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_ott['directors']*100),2)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'Cable', \
                     'Percent of Latino Topliners': str(round(np.mean(df_cable['topliners']*100),2)) + '%', \
                     'Percent of Latino Showrunners': str(round(np.mean(df_cable['showrunners']*100),2)) + '%', \
                     'Percent of Latino Directors': str(round(np.mean(df_cable['directors']*100),2)) + '%',
                                           }, ignore_index=True)

In [50]:
df['network'].value_counts()

netflix                    58
investigation discovery    25
hgtv                       18
travel channel             17
food network               17
cw                         15
abc                        15
tlc                        11
hbo                        11
vh1                        10
amazon                     10
discovery channel          10
history                     9
cbs                         8
fox                         8
discovery                   8
usa                         8
hulu                        8
own                         7
showtime                    7
lifetime                    7
nbc                         7
bravo                       7
paramount                   7
comedy central              7
amc                         7
disney                      6
a&e                         6
mtv                         6
fx                          5
national geographic         5
e!                          5
starz                       5
nickelodeon                 4
freeform                    4
hallmark                    3
nan                         1
nat geo                     1
Name: network, dtype: int64

In [51]:
df_network

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,BraodCast,11.32%,0.0%,3.77%
1,Premium,17.39%,8.7%,17.39%
2,OTT,15.79%,1.32%,9.46%
3,Cable,7.73%,1.41%,6.59%

## Question: US born or International born

### shows

In [29]:
df_runner['Country of Origin '].value_counts()

United States    6
Mexico           2
El Salvador      1
Venezuela        1
Guatemala        1
Name: Country of Origin , dtype: int64

In [30]:
df_lead['Country of Origin'].value_counts()
df_lead['Country of Origin'] = df_lead['Country of Origin'].apply(lambda x: x.strip())
df_lead['Country of Origin'].value_counts()

United States         31
Mexico                 6
Dominican Republic     2
Puerto Rico            2
Brazil                 2
Morocco                1
El Salvador            1
Cuba                   1
Domincan Republic      1
Guatemala              1
Name: Country of Origin, dtype: int64

In [31]:
df_director['Country of Origin'].value_counts()

United States    20
Mexico            4
Mexico            4
Cuba              3
Spain             1
Colombia          1
Venezuela         1
Canada            1
Name: Country of Origin, dtype: int64

In [32]:
df_origin = pd.DataFrame(columns = ['Types','International', 'National'])
show_us = df_runner[df_runner['Country of Origin '] == 'United States'].shape[0]
show_inter = df_runner.shape[0]- show_us
df_origin = df_origin.append({'Types': 'Showrunners',
                            'International': str(round(show_inter/float(df_runner.shape[0])*100,2)) + '%', \
                            'National': str(round(show_us/float(df_runner.shape[0])*100,2)) + '%'}, ignore_index=True)       
df_origin

         Types International National
0  Showrunners        45.45%   54.55%

In [33]:
leader_us = df_lead[df_lead['Country of Origin'] == 'United States'].shape[0]
leader_inter = df_lead.shape[0]- leader_us
df_origin = df_origin.append({'Types': 'Leaders',
                            'International': str(round(leader_inter/float(df_lead.shape[0])*100,2)) + '%', \
                            'National': str(round(leader_us/float(df_lead.shape[0])*100,2)) + '%'}, ignore_index=True)       
df_origin

         Types International National
0  Showrunners        45.45%   54.55%
1      Leaders        35.42%   64.58%

In [34]:
director_us = df_director[df_director['Country of Origin'] == 'United States'].shape[0]
director_inter = df_director.shape[0]- director_us
df_origin = df_origin.append({'Types': 'Directors',
                            'International': str(round(director_inter/float(df_director.shape[0])*100,2)) + '%', \
                            'National': str(round(director_us/float(df_director.shape[0])*100,2)) + '%'}, ignore_index=True)       
df_origin

         Types International National
0  Showrunners        45.45%   54.55%
1      Leaders        35.42%   64.58%
2    Directors        42.86%   57.14%

## getting data

In [53]:
frames = [df_shows, df_genre_repre, df_network]
result = pd.concat(frames)
result.to_csv('Final_numbers.csv')