In [1]:
import pandas as pd
import numpy as np

import warnings
warnings.filterwarnings('ignore')

import re

In [2]:
df = pd.read_csv("JMResults_Network Type_Summer'19 Shows by Network - All Shows.csv")

In [3]:
df.head()

,Network,Title,Genre,Shows/Films with Latino Lead and/or co-lead Actors/Actresses 0=no 1=yes,Names of Latino Lead Actors/Actresses,"Latino ""Showrunner/Lead Writer""? no= 0 yes=1",Names of Latino lead writers/show runners,Latino Directors? 0= no or 1,Names of Latino Directors,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14
0,Netflix,13 Reasons Why,Drama,1.0,Christian Navarro,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A&E,60 Days In,Alternative,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,TLC,90 Day Fiance: Before the 90 Days,Alternative,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,TLC,90 Day Fiancé: The Other Way,Alternative,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,HBO,A Black Lady Sketch Show,Alternative,0.0,NaN,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df['Genre'].value_counts()

Alternative       151
Drama              95
Docu-series        37
Comedy             34
Alternative        16
Docu-series\n       2
Reality Series      1
reality             1
Comedy              1
drama               1
Talk-Show           1
Kids                1
Name: Genre, dtype: int64

In [5]:
df = df[df['Genre'] != 'Kids']

In [6]:
try:
    for _ in range(6):
        df = df.drop(df.columns[9], axis = 1)
except:
    print "drop error"

In [7]:
df.columns = ['network', 'title', 'genre', 'topliners', 'name_topliners', 'showrunners', 'name_showrunners', 'directors', 'name_directors']

In [8]:
df = df[pd.notnull(df['title'])]

In [9]:
df.shape

(340, 9)

In [10]:
df['genre'] = df['genre'].astype(str)

In [11]:
df['topliners'].value_counts()

0.0    304
1.0     35
Name: topliners, dtype: int64

In [12]:
df['showrunners'].value_counts()

0.0    328
1.0      5
Name: showrunners, dtype: int64

In [13]:
df['directors'].value_counts()

0.0    195
1.0     19
Name: directors, dtype: int64

In [14]:
df.loc[df[df['genre'] == 'Docu-series'].index,'genre'] = 'Docuseries'
df.loc[df[df['genre'] == 'Docu-series\n'].index,'genre'] = 'Docuseries'

In [15]:
df['genre']= df['genre'].apply(lambda x: x.strip())
df['genre'] = df['genre'].apply(lambda x: x.lower())

In [16]:
df_shows = pd.DataFrame(columns = ['Types','Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_shows = df_shows.append({'Types': 'Overall',
                            'Percent of Latino Topliners': str(np.mean(df['topliners']*100)) + '%', \
                            'Percent of Latino Showrunners': str(np.mean(df['showrunners']*100)) + '%', \
                            'Percent of Latino Directors': str(np.mean(df['directors']*100)) + '%'}, ignore_index=True)       
df_shows

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,Overall,10.3244837758%,1.5015015015%,8.8785046729%

In [17]:
df['genre'].value_counts()

alternative       167
drama              96
docuseries         39
comedy             35
reality series      1
reality             1
talk-show           1
Name: genre, dtype: int64

In [18]:
df.shape

(340, 9)

## Question: How does Latino representation measure up by genre within shows?

In [19]:
def Genre_representation(g):
    df_temp = df[df['genre'] == g]
    return np.mean(df_temp['topliners']), np.mean(df_temp['showrunners']), np.mean(df_temp['directors'])

In [20]:
genres = ['comedy', 'drama', 'docuseries', 'alternative']
df_genre_repre = pd.DataFrame(columns = ['Types', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])

In [21]:
for g in genres:
    print Genre_representation(g)
    df_genre_repre = df_genre_repre.append({'Types': g, \
                            'Percent of Latino Topliners': str(Genre_representation(g)[0]*100) + '%', \
                            'Percent of Latino Showrunners': str(Genre_representation(g)[1]*100) + '%', \
                            'Percent of Latino Directors': str(Genre_representation(g)[2]*100) + '%'
                                           }, ignore_index=True)

(0.2571428571428571, 0.02857142857142857, 0.11428571428571428)
(0.1875, 0.031578947368421054, 0.18181818181818182)
(0.02564102564102564, 0.02564102564102564, 0.047619047619047616)
(0.04216867469879518, 0.0, 0.0)

In [22]:
g = 'drama'
df_temp = df[df['genre'] == g]
df_temp['directors'].value_counts()

0.0    63
1.0    14
Name: directors, dtype: int64

In [23]:
df_genre_repre

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,comedy,25.7142857143%,2.85714285714%,11.4285714286%
1,drama,18.75%,3.15789473684%,18.1818181818%
2,docuseries,2.5641025641%,2.5641025641%,4.7619047619%
3,alternative,4.21686746988%,0.0%,0.0%

## Question: How does Latino representation measure up by Network Type?

In [24]:
df['network'].value_counts()

Netflix                    43
Food Network               16
HGTV                       16
Travel Channel             16
CW                         15
ABC                        14
Investigation Discovery    14
HBO                        11
DISCOVERY CHANNEL          10
TLC                        10
VH1                        10
INVESTIGATION DISCOVERY    10
Amazon                     10
CBS                         9
USA                         8
History                     8
Discovery                   8
FOX                         7
NBC                         7
AMC                         7
Comedy Central              7
Showtime                    7
MTV                         6
Paramount                   6
Hulu                        6
A&E                         6
OWN                         5
Netflix                     5
FX                          5
Bravo                       5
E!                          4
Starz                       4
Hallmark                    3
Lifetime                    3
Freeform                    3
LIFETIME                    3
National Geographic         2
NATIONAL GEOGRAPHIC         2
Bravo                       1
NATIONAL GEOGRAPHIC         1
 HGTV                       1
Hulu                        1
TLC                         1
BRAVO                       1
Nat Geo                     1
Fox                         1
STARZ                       1
Name: network, dtype: int64

In [25]:
df['network'] = df['network'].astype(str)
df['network'] = df['network'].apply(lambda x: x.lower())
df['network'] = df['network'].apply(lambda x: x.strip())

In [26]:
broad = ['nbc', 'cbs', 'abc', 'cw', 'fox']
ott = ['amazon', 'hulu', 'netflix']
premium = ['hbo', 'cinemax', 'showtime', 'starz', 'paramount']

In [27]:
df_broad = df[df['network'].isin(broad)]
df_ott = df[df['network'].isin(ott)]
df_premium = df[df['network'].isin(premium)]
df_cable = df[(~df['network'].isin(ott))&(~df['network'].isin(broad))&(~df['network'].isin(premium))]

In [28]:
df_network = pd.DataFrame(columns = ['Types', 'Percent of Latino Topliners', 'Percent of Latino Showrunners', 'Percent of Latino Directors'])
df_network = df_network.append({'Types': 'BraodCast', \
                     'Percent of Latino Topliners': str(np.mean(df_broad['topliners']*100)) + '%', \
                     'Percent of Latino Showrunners': str(np.mean(df_broad['showrunners']*100)) + '%', \
                     'Percent of Latino Directors': str(np.mean(df_broad['directors']*100)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'Premium', \
                     'Percent of Latino Topliners': str(np.mean(df_premium['topliners']*100)) + '%', \
                     'Percent of Latino Showrunners': str(np.mean(df_premium['showrunners']*100)) + '%', \
                     'Percent of Latino Directors': str(np.mean(df_premium['directors']*100)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'OTT', \
                     'Percent of Latino Topliners': str(np.mean(df_ott['topliners']*100)) + '%', \
                     'Percent of Latino Showrunners': str(np.mean(df_ott['showrunners']*100)) + '%', \
                     'Percent of Latino Directors': str(np.mean(df_ott['directors']*100)) + '%',
                                           }, ignore_index=True)
df_network = df_network.append({'Types': 'Cable', \
                     'Percent of Latino Topliners': str(np.mean(df_cable['topliners']*100)) + '%', \
                     'Percent of Latino Showrunners': str(np.mean(df_cable['showrunners']*100)) + '%', \
                     'Percent of Latino Directors': str(np.mean(df_cable['directors']*100)) + '%',
                                           }, ignore_index=True)

In [29]:
df['network'].value_counts()

netflix                    48
investigation discovery    24
hgtv                       17
travel channel             16
food network               16
cw                         15
abc                        14
tlc                        11
hbo                        11
vh1                        10
amazon                     10
discovery channel          10
cbs                         9
discovery                   8
usa                         8
fox                         8
history                     8
nbc                         7
bravo                       7
comedy central              7
showtime                    7
hulu                        7
amc                         7
lifetime                    6
paramount                   6
a&e                         6
mtv                         6
fx                          5
own                         5
starz                       5
national geographic         5
e!                          4
freeform                    3
hallmark                    3
nat geo                     1
Name: network, dtype: int64

In [30]:
df_network

,Types,Percent of Latino Topliners,Percent of Latino Showrunners,Percent of Latino Directors
0,BraodCast,13.2075471698%,1.88679245283%,3.84615384615%
1,Premium,17.2413793103%,6.89655172414%,16.6666666667%
2,OTT,15.3846153846%,0.0%,9.52380952381%
3,Cable,6.77083333333%,1.0752688172%,9.33333333333%

In [31]:
frames = [df_shows, df_genre_repre, df_network]
result = pd.concat(frames)
result.to_csv('Final_numbers.csv')